$todolistHeight:  40px;

.todolist-pane{
    background: #222;
    height: 100%;
    padding: 30px;

    .input-container {
    	position: relative;
    	width: 100%;
        padding: 8px 10px;

    	.todolist-input {
            margin: 0 auto;
    		outline: none;
    		border: 0;
    		border-bottom: 1px dotted #666;
    		border-radius: 0;
    		padding: 0 0 5px;
    		width: 100%;
    		height: 50px;
    		font-family: inherit;
    		font-size: 1.5rem;
    		font-weight: 300;
    		color: #999;
    		background: transparent;
    		-webkit-font-smoothing: antialiased;
    	}
    }

    .new-date-picker-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 6px;


        .date-picker-item{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

            .date-picker-desc{
                color: #999;
                font-size: 18px;
                margin-bottom: 8px;
            }
        }
    }

    .todolist-item{
        display: flex;
        flex-direction: column;

        .todolist-item-main{
            padding: 0 10px;
            flex-direction: row;
            align-items: center;
            display: flex;
            font-size: 18px;
            color: #999;
            padding: 6px 0 6px 20px;
            border-bottom: 1px dotted #666;
            justify-content:space-between;

            .inputBox{
                outline: none;
                color: #999;
                flex: 7;
                background: #222;
                border: 0;
            }

            .box-show{
                display: block;
            }

            .box-hide{
                display: none;
            }

            .content-container{
                line-height: $todolistHeight;
                flex: 7;
                position: relative;

                .text-container{
                    position: relative;
                    display: inline-block;
                }

                .text-container:after{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    border-top: 2px solid #85bf6b;
                    width: 0;
                    height: 46%;
                    content: '';
                }

                .date-left{
                    position: relative;
                    float: right;
                    right: 0;
                    margin-right: 10px;
                }
            }

            .content-container--complete{
                .text-container{
                    color: #666;
                }

                .text-container:after{
                    width:100%;
                }
            }

            .left-button{
                flex: 1;
                margin-right: 20px;
            }

            .right-button{
                flex: 1;
                margin-right: 10px;
            }
        }

        .todolist-item-additional{
            display: flex;
            flex-direction: row;
            height: $todolistHeight*1.5;
            align-items: center;

            .todolist-data-select-pane{
                flex: 1;
                display: flex;
                flex-direction: row;
                align-items: center;

                .select-pane-content{
                    line-height: $todolistHeight;
                    font-size: 15px;
                    text-align: center;
                    flex: 1;
                    color: #999;
                }

                .select-pane-date{
                    font-size: 15px;
                    flex: 2;
                }
            }
        }


    }


}
